*{
  box-sizing: border-box;
}
.cards-container{
  --main-color:rgb(255, 30, 225);
}

.title-container{
  color: var(--main-color);
}
.card-wrapper{
  --img-size: 140px;
  min-width: calc(var(--img-size)*2);
  width: 100%;
  max-width: calc(var(--img-size)*3);

  border: 1px solid var(--main-color);

  text-align: center;
  font-family: sans-serif;
  font-size: 14px ;
}
.header-bg{
  height: calc(var(--img-size)*1.5);
  background-color: var(--main-color);
}

.photo-profile{
  width: var(--img-size);
  height: var(--img-size);
  margin-top: calc(var(--img-size)/2*-1);

  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 50%;

  object-fit: cover;
  object-position: top;

  background-color: white;
}
.full-name-user{
  max-width: 60%;
  margin: 0 auto;
}
.address-user>img{
  height: 14px;
}
.btn-container{
  margin: 0 30px;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.btn{
  max-width: 40%;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
  color: white;
  text-transform: capitalize;
  font-size: 0.7em;
}
.card-text{
  padding: 10px 30px;
  font-size: 0.9em;
  line-height: 1.5em;
}
.follow-bg{
  background-color: rgb(119, 0, 255);
}
.main-bg{
  background-color: var(--main-color);
}
.text-inline{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} 
  
  .footer-bg{
    height: calc(var(--img-size)*0.5);
    padding-top: 12px;
  }
 
.footer-bg img{
  width: 24px;
}